---
---
$content-width: 80%;

@import "minima";
@import "custom-bootstrap";


body {
  font-family: "Roboto", serif;
  font-weight: $base-font-weight;
  font-size: #{$base-font-size};
  line-height: #{$base-line-height};
  color: #333333;
  line-height: 1.5;
  background-color: white;
}

a:visited {
  color: #333333;
}

.home-paragraph {
    font-size: 18px;
}

.site-header {
  border-top: 0.5rem solid #43b152; // Default color for Home and Software
}

.site-header-software {
  border-top-color: #18354c;
}

.site-header-oceans {
  border-top-color: #169fe6;
}

.site-header-notes {
  border-top-color: #cbb35c;
}

.site-header-music {
  border-top-color: #000000;
}

.post-link {
  font-size: 34px;
  color: #333333 !important;
}

.copyright {
  font-size: 14px;
  font-weight: bolder !important;
  color: #666666;
}

.post-title-list {
  margin-bottom: 0px;
}

.excerpt {
  font-size: 16px;
  color: #666666;
  text-align: justify;
}

.label {
  color: white;
  border-radius: 5px;
  padding: 4px;
  background-color: gold;
  font-size: 12px;
  margin-right: 3px;
}

@font-face {
  font-family: "roboto";
  src: url("../../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "roboto-italic";
  src: url("../../assets/fonts/Roboto-Italic.ttf");
}

strong {
  font-family: "roboto-bold";
}

em {
  font-family: "roboto-italic";
}

.result li.active a {
    color: lightgray;
    cursor: default;
}

hr {
  margin-bottom: 20px;
  margin-top: 30px;
}
