---
---
$content-width: 80%;

@import "minima";

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} "roboto", serif;
  color: #051e50;
  line-height: 1.5;
}

.home-paragraph {
    font-size: 18px;
}

.site-header {
  border-top: 0.5rem solid #169fe6;
}

.post-link {
  font-size: 34px;
  color: #051e50 !important;
}

.copyright {
  font-size: 14px;
  font-weight: bolder !important;
  color: #666666;
}

.title-oceans-layout-page {
  font-size: 40px;
  color: #051e50;
  text-align: center;
  font-weight: bolder;
}

.place-oceans-layout-page {
  font-size: 16px;
  color: #051e50;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-title-list {
  margin-bottom: 0px;
}

.excerpt {
  font-size: 16px;
  color: #666666;
  text-align: justify;
}

.label {
  color: white;
  border-radius: 5px;
  padding: 4px;
  background-color: gold;
  font-size: 12px;
  margin-right: 3px;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "roboto-italic";
  src: url("../assets/fonts/Roboto-Italic.ttf");
}

strong {
  font-family: "roboto-bold";
}

em {
  font-family: "roboto-italic";
}

.result li.active a {
    color: lightgray;
    cursor: default;
}
